@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

.certificate{
    height: 50px;
    width: auto;
}

h3 ~ p{
    margin-left: 20px;
}
h2 ~ h3{
    margin-left: 10px;
}

nav a:hover{
    background-color: #0275d8;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: #f7f7f7;
}

img{
    max-height: 250px;
    width: auto;
}